    <%= form_for(@play) do |f| %>
      <% if @play.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@play.errors.count, "error") %> prohibited this play from being saved:</h2>

          <ul>
          <% @play.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= f.label :date_of_play %><br>
          <%= f.datetime_select :date_of_play %>
      </div>

      <div class="field">
        <%= f.label :profile_image %><br>
          <%= f.file_field :profile_image %>
          <!-- 
            <%= image_tag @play.profile_image.url(:thumb) if @play.profile_image.present? %>
            -->
      </div>

      <div class="field">
        <%= f.label :pictures %><br>
        <%= f.file_field :pictures, multiple: true %>
      </div>


    <div class="field" id="checkbox-list">
        <%= f.label "Cast and Crew"%> <br />
        <%= collection_check_boxes(:user_id, :user_ids, @users, :id, :simple_to_s) %>
    </div>


    <div class="field" id="user-roles-list">
        <%= f.label "Roles and Responsibilities"%> <br />
        <!-- will be populated with textfields by the jquery attached --->
        
    </div>





<!--
    <% @play.pictures.each{ |pic| %>
        <%= image_tag pic.url(:thumb)  %>
    <% } %>
-->

      <div class="actions">
        <%= f.submit %>
      </div>

    <% end %>