<p id="notice"><%= notice %></p>

<div id="show-all-plays">
    
    <% if can? :create, @plays %>
        <%= link_to 'New Play', new_play_path,class: 'btn btn-primary' %>
    <br/>
    <% end %>

    <% play_index=0 %>

    <h1>Upcoming Plays</h1>

    <% while play_index<@plays.size and @plays[play_index].date_of_play>Time.now  %>
            <%= link_to @plays[play_index], class:'play-unit-outer-wrap' do%>
                    <div class="play-unit-inner-wrap">
                        <%= image_tag @plays[play_index].profile_image.url(:thumb) if @plays[play_index].profile_image.present? %>
                        <div class="information">
                            <h4><%= @plays[play_index].title %></h4>
                            <p><%= @plays[play_index].date_of_play.strftime("%B %d, %Y") %></p>
                        </div>
                    </div>
            <% end %>
    
        <% play_index+=1 %>
    <% end %>
    


<h1>Past Plays</h1>

    
    <% while play_index<@plays.size  %>
    <%= link_to @plays[play_index], class:'play-unit-outer-wrap' do%>
                    <div class="play-unit-inner-wrap">
                        <%= image_tag @plays[play_index].profile_image.url(:thumb) if @plays[play_index].profile_image.present? %>
                        <div class="information">
                            <h4><%= @plays[play_index].title %></h4>
                            <p><%= @plays[play_index].date_of_play.strftime("%B %d, %Y") %></p>
                        </div>
                    </div>
            <% end %>
    
        <% play_index+=1 %>
    <% end %>
    
</div>

