<p id="notice"><%= notice %></p>

<% if can? :create, @plays %>
    <%= link_to 'New Play', new_play_path,class: 'btn btn-default' %>
<br/>
<% end %>


<h1>Plays</h1>

<div id="show-all-plays">
    
<% @plays.each do |play| %><td>
    <%= link_to play, class:'play-unit-outer-wrap' do%></td>
            <div class="play-unit-inner-wrap">
                <%= image_tag play.profile_image.url(:thumb) if play.profile_image.present? %>
                <div class="information">
                    <h4><%= play.title %></h4>
                    <p><%= play.date_of_play.strftime("%B %d, %Y") %></p>
                </div>
            </div>
    <% end %>
<% end %>
    
</div>

