<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @play.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @play.description %>
</p>

<p>
  <strong>Date of play:</strong>
  <%= @play.date_of_play %>
</p>

<p> <%= @play.play_photos.length %></p>

<% @play.play_photos.each do |photo|  %>
<p>asdasd</p>
<%= image_tag painting.image_url(:thumb) %>
<% end %>



<% if can? :update, @plays %>
<%= link_to 'Edit', edit_play_path(@play) %> |
<% end %>
<%= link_to 'Back', plays_path %>
