<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @play.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @play.description %>
</p>

<p>
  <strong>Date of play:</strong>
  <%= @play.date_of_play %>
</p>


<%= image_tag @play.profile_image.url(:thumb) if @play.profile_image.present? %>

<% @play.pictures.each{ |pic| %>
    <%= image_tag pic.url(:small_thumb)  %>
<% } %>

<% if can? :update, @plays %>
    <%= link_to 'Edit', edit_play_path(@play) %> |
<% end %>
<%= link_to 'Back', plays_path %>
