<div id="show-one-play">
    <% if can? :update, @plays %>
        <%= link_to 'Edit', edit_play_path(@play), class: 'btn btn-primary' %>
    <% end %>

    <div class="row play-display">

        <div class="col-md-5" >
            <%= link_to( image_tag(@play.profile_image.url(:large_thumb)) , @play.profile_image.url)  %>
        </div>

        <div class="col-md-5 play-information">
            <h2><%= @play.title %> <small><%= @play.date_of_play.strftime("%B %d, %Y") %></small></h2>
            <p><%= @play.description %></p>
        </div>

    </div>

    <div class="play-video">
        <!-- display all pics from the play if they're present-->
        <% if @play.link_to_video.present? %>
        <iframe width="420" height="315"
        src="<%= @play.link_to_video %>">
        </iframe>
        <% end %>
    </div>

    <div class="play-pictures-list">
        <!-- display all pics from the play if they're present-->
        <% if @play.pictures.present? %>

            <%= link_to "Download all","#", class:"btn btn-default"%>

            <div class='play-pics-list'>
                <% @play.pictures.each{ |pic| %>
                    <%= link_to(image_tag(pic.url(:large_thumb)), pic.url)  %>
                <% } %>
            </div>
        <% end %>
    </div>
</div>
