<p id="notice"><%= notice %></p>


<% if can? :update, @plays %>
    <%= link_to 'Edit', edit_play_path(@play), class: 'btn btn-primary' %> 
<% end %>

<div class="row play-display">
    
    <div class="col-md-3" >
        <%= link_to( image_tag(@play.profile_image.url(:large_thumb)) , @play.profile_image.url)  %>
    </div>
    
    <div class="col-md-7 play-information">
        <h2><%= @play.title %> <small><%= @play.date_of_play.strftime("%B %d, %Y") %></small></h2>
        <p><%= @play.description %></p>
    </div>

</div>

<% if @play.pictures.present? %>
    <h3>From the Play</h3>

    <%= link_to "Download all","#", class:"btn btn-default"%>

    <div class='play-pics-list'>
        <% @play.pictures.each{ |pic| %>
            <%= link_to(image_tag(pic.url(:large_thumb)), pic.url)  %>
        <% } %>
    </div>
<% end %>

<p>
    
    <% @play.users.each{ |user| %>
    <%="#{user.first_name}" %>
    <% } %>

</p>