<% 
#functions for making the first element the active class
def add_active_class(index)
    if index==0
        return " active "
    end
end
def add_active_class_with_fadein(index)
    if index==0
        return " active in "#the 'in' class makes the tab content visible when page is first loaded
    end
end
%>
    

<% if can? :manage, @courses %>

    <!-- To get the Mercury editor interface on this page, navigate to ROOT/editor/courses -->
    <%= link_to "Edit Classes", 
        "/editor"+courses_editable_pages_path,
        class:"btn btn-default",
        id:"edit_link", #Used in mercury.js to find this tag
data:{ save_url: mercury_update_courses_editable_pages_url } %>
    <%= link_to "Add Class",
        editable_pages_path(
            editable_page:{
                classification: 'courses',
                body:'Edit me!',
                title:"New Class",
                created_at:DateTime.now,
                updated_at:DateTime.now
                }
            ),
        :method=>:post,
        class:"btn btn-default" %>
<br/>
    <% if @courses != nil %>
      <% @courses.each do |course|%>
        <%= link_to "Delete #{ActionView::Base.full_sanitizer.sanitize(course.title)}", course, method: :delete, data: { confirm: 'Are you sure? This cannot be undone (but you can create new classes)!' },class:"btn btn-danger" %>
      <% end %>
    <% end %>

<% end %>


<% if @courses != nil %>
    <section id="class-tabs">
      <ul class="nav nav-tabs nav-justified" role="tablist">
          <% @courses.each_with_index do |course,index|%>
            <li class="<%=add_active_class(index) %>" role="presentation">
                <a data-mercury="full" data-toggle="tab" id="<%= "tab_link_id_is_#{course.id}" %>" href="#<%= "tab_content_id_is_#{course.id}" %>" >
                  <%= raw course.title %>
              </a>
            </li>
          <% end %>
      </ul>

      <div class="tab-content">
          <% @courses.each_with_index do |course,index|%>
          <div id="<%= "tab_content_id_is_#{course.id}" %>" data-mercury="full" class="tab-pane fade <%=add_active_class_with_fadein(index) %>">
                  <%= raw course.body %>
              </div>
          <% end %>

      </div>
    </section>
<% end %>