
<% if is_even
    even_or_not_class = "even"
else
    even_or_not_class = "odd"
end %>


<div class="event <%= even_or_not_class %>">
    
    <div class="row" id="event_<%= event.id %>">
        
        <div class="col-md-12">
            <h3><%= event.title %> <br/><small><%= event.date_and_time_of_event.strftime("%B %d, %Y %l:%M%p")%></small></h3>

            <%= simple_format event.description %>

            <% if can? :update, @events %>
                <%= link_to 'Edit', edit_event_path(event),class: 'btn btn-default' %>
            <% end %>
            <% if can? :delete, @events %>
                <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-default' %>
            <% end %>
        </div>  
    </div>
</div>