<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!--<%= link_to "UACT", root_path, class:"navbar-brand" %>-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"> 

          
          <li><%= nav_link 'Current Season', upcoming_plays_path %> </li>
          <li><%= nav_link 'Archives', archived_plays_path %> </li>
          <li><%= nav_link 'Courses', courses_page_path %> </li>
          <li><%= nav_link 'Resources', "" %> </li>
          <!--<li><%= nav_link 'Plays', plays_path %>  </li>-->
          
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <% if user_signed_in? %>
                <p href="#" class="navbar-text">
                    Logged in as <strong><%= current_user.email %></strong>
                </p>
            <% end %>
        </li>
          <li>
              <%= link_to image_tag("twitter-icon.png", class:"navbar-icon"),'https://twitter.com/theatreua' %>
          </li>
          <li>
              <%= link_to image_tag("facebook-icon.png", class:"navbar-icon"),'https://www.facebook.com/pages/UACT-Upper-Arlington-Community-of-Theatre/128501485681?fref=ts' %>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
