<% if user.approved
    display_class = "approved"
else
    display_class = "not-approved"
end %>


<div class="row person <%= display_class %>" id="user_<%= user.id %>">
    
    <div class="col-md-3 profile-pic">
        <%= link_to(image_tag(user.profile_image.url(:thumb)), user.profile_image.url)  %>
    </div>
    
    <div class="col-md-7 info">
        <h2><%= "#{user.first_name} #{user.last_name}" %></h2>
        <p><%= user.description %></p>
    </div>
    
     <!-- give admin ability to delete/approve/manage users-->
    <% if can? :manage, @non_approved_users and !user.approved %>
        <div class="col-md-2">
            <%= link_to 'Approve', admin_approve_user_path(user),method: :approve_user,class: 'btn btn-primary' %>
            
            <%= link_to 'Delete', admin_destroy_user_path(user), method: :delete, class: 'btn btn-default' %>
        </div>
    <% end %>
    
    <!-- link to user's plays-->
    <% if user.approved %> 
        <div class="col-md-2">
            
        </div>
    <% end %>
</div>
